@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Fraunces:opsz,wght@9..144,900&display=swap");

.first {
  background: lightgray
    url("../../assets/home/mobile/image-hero-coffeepress.jpg") 0px 0px / 100%
    100% no-repeat;

  font-family: Fraunces;
  font-weight: 900;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-size: cover;
  margin: 40px 24px 120px;
  border-radius: 8px;
}
.first h1 {
  font-size: 40px;
  width: 280px;
  color: #fefcf7;
  padding: 100px 0 24px;
}
.first p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #fefcf7;
  width: 280px;
  opacity: 80%;
}
.btn {
  padding: 39px 0 100px;
}
.box img {
  width: 200px;
  height: 151px;
  margin-bottom: 24px;
}

.box h2 {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  color: #333d4b;
}

.box p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #333d4b;
  width: 320px;
  margin: 16px 0 48px;
  text-align: center;
}

.box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.second h1 {
  text-align: center;
  background: linear-gradient(180deg, #fefcf7 0.01%, #fefcf7 100%);
  font-size: 40px;
  margin-bottom: 13px;
}

.whyUs {
  background-color: #2c343e;
  text-align: center;
  color: #fefcf7;
  font-weight: 900;
  font-family: "Fraunces";
  padding: 64px 24px 328px;
  border-radius: 8px;
  margin: 0 24px;
}
.whyUs h1 {
  font-size: 28px;
  font-weight: 900;
}
.whyUs p {
  opacity: 80%;
  font-weight: 400;
  line-height: 25px;
  font-size: 15px;
  font-family: Barlow;
  padding: 24px 0 28px;
}

.offcard {
  border-radius: 8px;
  background: #0e8784;
  text-align: center;
  padding: 72px 33px 51px;
  margin: 0 48px;
  color: #fefcf7;
}
.offcard h1 {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  padding: 56px 24px;
}

.offcard p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.offerCards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -250px;
  margin-bottom: 120px;
}

.home-last-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}
.last {
  margin-bottom: 80px;
}
@media (min-width: 768px) {
  .first {
    text-align: left;
    align-items: start;
    padding-left: 58px;
    background: lightgray
      url("../../assets/home/tablet/image-hero-coffeepress.jpg") 0px 0px / 100%
      100% no-repeat;
  }
  .first h1 {
    font-family: "Fraunces";
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    width: 330px;
    line-height: 48px; /* 100% */
  }
  .first p {
    font-family: Barlow;
    width: 390px;
    line-height: 25px; /* 166.667% */
    opacity: 80%;
  }
  .card {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .box-text {
    align-items: start;
  }
  .box p {
    text-align: start;
  }
  .whyUs h1 {
    font-size: 32px;
  }
  .whyUs {
    padding: 71px 74px 328px;
  }
  .whyUs p {
    line-height: 25px; /* 166.667% */
  }
  .home-last-btn {
    justify-content: flex-start;
    margin-left: 39px;
  }
}

@media (min-width: 1400px) {
  .first {
    margin: 0 80px;
    background: lightgray
      url("../../assets/home/desktop/image-hero-coffeepress.jpg") 0px 0px / 100%
      100% no-repeat;
  }
  .box {
    display: flex;
    margin: 50px 165px;
    gap: 20px;
  }
  .card {
    flex-direction: column;
    width: 255px;
    text-align: center;
  }
  .card p {
    width: 255px;
    text-align: center;
  }
  .box-text {
    align-items: center;
  }
  .second h1 {
    padding-top: 50px;
  }
  .whyP {
    width: 540px;
    margin: 0 auto;
  }
  .offerCards {
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
  }
  .last {
    margin-bottom: 0;
  }
  .offcard {
    margin: 0;
  }
}
