.subscribe-second {
  align-items: center;
  background-color: #2c343e;
  color: #fff;
  text-align: center;
  font-family: Fraunces;
  border-radius: 8px;
  margin-bottom: 120px;
  margin: 0 24px;
}

.steps {
  margin: 0 24px;
}
.steps h1 {
  color: #fdd6ba;
  font-size: 72px;
  font-size: 72px;
  font-weight: 900;
  padding: 0;
}
.steps h2 {
  font-size: 28px;
  font-weight: 900;
  padding: 24px 0;
}
.steps p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 56px;
}

.container {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 70%; /* Set the total width */
  margin-left: 39px;
}

.circle {
  width: 31px;
  height: 31px;
  border: 2px solid #0e8784;
  border-radius: 50%;
}

.hr {
  border: 2px solid #fdd6ba;
  flex-grow: 1;
}
.first-step h1 {
  padding-top: 0;
}
@media (min-width: 768px) {
  .allSteps {
    display: flex;
  }

  .subscribe-second {
    text-align: left;
  }
  .container {
    display: flex;
    padding-bottom: 30px;
    padding-top: 100px;
  }
  .first-step h1 {
    padding-top: 0;
  }
}

@media (min-width: 1440px) {
}
