.nav-bar {
  position: absolute;
  text-align: center;
  right: 50%;
  transform: translate(50%, 53%);
  background: linear-gradient(
    0deg,
    rgba(254, 252, 247, 0.504981) 0%,
    #fefcf7 65.94%
  );
  width: 120%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  z-index: 5;
  height: 100vh;
}

.nav-bar a {
  text-decoration: none;
  font-family: Fraunces, sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #333d4b;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 24px;
  position: relative;
}

.nav {
  cursor: pointer;
  /* display: none; */
}
.last-p {
  padding-bottom: 380px;
}

.horizontal-nav {
  gap: 33px;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769276618958px;
  display: none;
}

.horizontal-nav a {
  text-decoration: none;
  color: #83888f;
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav {
    display: none;
  }
  .horizontal-nav {
    display: flex;
  }
}

@media (min-width: 1400px) {
  .header {
    margin: 44px 80px;
  }
}
