footer {
  background: #2c343e;
  text-align: center;
  margin: 24px;
}

.nav-bar-footer {
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9230769276618958px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.nav-bar-footer p {
  cursor: pointer;
}

.image {
  padding: 50px 0;
}

.soc-media {
  padding: 50px 0;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.soc-media div {
  cursor: pointer;
}
@media (min-width: 768px) {
  .nav-bar-footer {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1400px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 80px;
  }
}
