@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Fraunces:opsz,wght@9..144,900&display=swap");

.subscribe-first {
  background-image: url(../src/assets/plan/mobile/image-hero-blackcup.jpg);
  font-family: Fraunces;
  font-weight: 900;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-size: cover;
  margin: 40px 24px 120px;
  border-radius: 8px;
}
.subscribe-first h1 {
  font-size: 28px;
  color: #fefcf7;
  padding: 100px 0 24px;
}

.subscribe-first p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #fefcf7;
  opacity: 80%;
  padding: 0 24px 87px;
}

.subscribe-second {
  align-items: center;
  background-color: #2c343e;
  color: #fff;
  text-align: center;
  font-family: Fraunces;
  border-radius: 8px;
  margin-bottom: 120px;
}

.steps {
  margin: 0 24px;
}
.steps h1 {
  color: #fdd6ba;
  font-size: 72px;
  font-size: 72px;
  font-weight: 900;
}
.steps h2 {
  font-size: 28px;
  font-weight: 900;
  padding: 24px 0;
}
.steps p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 56px;
}
.first-step h1 {
  padding-top: 80px;
}

.navigation {
  display: none;
  width: 255px;
  color: #333d4b;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
}
.navigation p {
  padding: 14px 0;
  opacity: 0.8;
}
.navigation span {
  color: #83888f;
}

.navigation hr {
  opacity: 0.25;
  background: #83888f;
  height: 1px;
}

.carousell {
  margin: 0 24px;
}

.carousell h2 {
  color: #83888f;
  font-size: 24px;
  font-weight: 900;
  font-family: "Fraunces";
  line-height: 28px;
  margin: 30px 0;
  width: 240px;
}
.answer h3 {
  color: #333d4b;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  padding-top: 24px;
}

.answer {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.border {
  border-radius: 8px;
  background: #f4f1eb;
  padding: 0 25px;
}
.answer p {
  color: #333d4b;
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 8px 0 24px;
}

.orderSummary {
  background-image: url(../../assets/plan/mobile/bg-order-summary.png);
  padding: 0 25px;
  border-radius: 8px;
  margin-bottom: 37px;
}

.orderSummary h5 {
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5037;
  padding-top: 37px;
}

.orderSummary h3 {
  color: #fff;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px; /* 166.667% */
  padding: 8px 0 37px;
}
.cursor {
  cursor: pointer;
}
