@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700&family=Fraunces:opsz,wght@9..144,900&display=swap");

.subscribe-first {
  background-image: url(../src/assets/plan/mobile/image-hero-blackcup.jpg);
  font-family: Fraunces;
  font-weight: 900;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-size: cover;
  margin: 40px 24px 120px;
  border-radius: 8px;
}
.subscribe-first h1 {
  font-size: 28px;
  color: #fefcf7;
  padding: 100px 0 24px;
}

.subscribe-first p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #fefcf7;
  opacity: 80%;
  padding: 0 24px 87px;
}

.subscribe-second {
  align-items: center;
  background-color: #2c343e;
  color: #fff;
  text-align: center;
  font-family: Fraunces;
  border-radius: 8px;
  margin-bottom: 120px;
}

.steps {
  margin: 0 24px;
}
.steps h1 {
  color: #fdd6ba;
  font-size: 72px;
  font-size: 72px;
  font-weight: 900;
}
.steps h2 {
  font-size: 28px;
  font-weight: 900;
  padding: 24px 0;
}
.steps p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 56px;
}

.navigation {
  display: none;
  width: 255px;
  color: #333d4b;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
}
.navigation p {
  padding: 14px 0;
  opacity: 0.8;
}
.navigation span {
  color: #83888f;
}

.navigation hr {
  opacity: 0.25;
  background: #83888f;
  height: 1px;
}

.carousell {
  margin: 0 24px;
}

.carousell h2 {
  color: #83888f;
  font-size: 24px;
  font-weight: 900;
  font-family: "Fraunces";
  line-height: 28px;
  margin: 30px 0;
  width: 240px;
}
.answer h3 {
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  padding-top: 24px;
}

.pointer {
  cursor: pointer;
}

.answer {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.border {
  border-radius: 8px;
  background: #f4f1eb;
  padding: 0 25px;
  color: #333d4b;
}

.color {
  background: #0e8784;
  color: #fff;
}

.answer p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 8px 0 24px;
}

.orderSummary {
  background-image: url(../../assets/plan/mobile/bg-order-summary.png);
  padding: 0 25px;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 120px;
}

.orderSummary h5 {
  color: #fff;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5037;
  padding-top: 37px;
}

.orderSummary h3 {
  color: #fff;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px; /* 166.667% */
  padding: 8px 0 37px;
}
.cursor {
  cursor: pointer;
}

.orderSummary span {
  color: #0e8784;
}

.subs-btn {
  text-align: center;
  margin-bottom: 120px;
}

.summary-head-text {
  margin: 0 24px;
}

.summary-head-h {
  background-color: #2c343e;
  padding: 28px;
  color: #ffffff;
  font-family: Fraunces;
  font-size: 28px;
  font-weight: 900;
}

.summary-head-text h3 {
  background-color: #fefcf7;
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: #83888f;
}

.summary-head-text p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #333d4b;
  opacity: 80%;
}
.summary-head-text span {
  color: #0e8784;
}
.summary-head-text {
  padding: 40px 0 24px;
}
.summary-head {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.active {
  display: none;
}

.orderSummary-top {
  z-index: 5;
  position: absolute;
  top: 33px;
  background-color: #fff;
  margin: 0 24px;
  border-radius: 8px;
  overflow: hidden;
  /* display: none; */
}
.top-btn-div {
  padding-bottom: 24px;
}
.tablet {
  display: none;
}

@media (min-width: 768px) {
  .subscribe-first {
    background-image: url(../src/assets/plan/tablet/image-hero-blackcup.jpg);
    text-align: start;
    align-items: start;
  }
  .subscribe-first h1 {
    padding-left: 58px;
    font-size: 48px;
  }
  .subscribe-first p {
    padding-left: 58px;
    width: 458px;
  }

  .answer {
    flex-direction: row;
  }
  .cursor h2 {
    width: 506px;
  }
  .orderSummary-top {
    margin: 150px;
  }
  .top-btn-div {
    display: none;
  }
  .tablet {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    padding-bottom: 40px;
  }
  .tablet h2 {
    color: #333d4b;
    font-family: "Fraunces";
    font-size: 32px;
    font-weight: 900;
  }
  .summary-head-text {
    padding: 40px 56px;
  }
  .summary-head-h {
    text-align: left;
  }
  .summary-head-h h1 {
    font-size: 40px;
    padding-left: 56px;
  }
}

@media (min-width: 1400px) {
  main {
    margin: 0 80px;
  }
  .subscribe-first {
    background-image: url(../src/assets/plan/desktop/image-hero-blackcup.jpg);
    padding-bottom: 100px;
  }
  .navigation {
    display: block;
  }
  .twosections {
    display: flex;
    gap: 50px;
  }
}
